@import "bootstrap/dist/css/bootstrap.min.css";
@import "izitoast/dist/css/iziToast.min.css";
@import 'material-icons/iconfont/material-icons.css';

:root {
    --gray: #d1d5db;
    --dark-gray: #475569;
    --light-gray: #e2e8f0;
}

html, body, #app {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--light-gray);
}

#app {
    overflow-y: auto;    
}

.underline-none {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

/* Colors */
.bg-gray {
    background-color: var(--gray);
}

.bg-gray-dark {
    background-color: var(--dark-gray);
}

.bg-gray-light {
    background-color: var(--light-gray);
}

.container, 
.container-fluid, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl, 
.container-xxl 
{
    padding: calc(var(--bs-gutter-x)* .5);
}

.welcome-container {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;        
    padding: 1rem;
}

.welcome-container h1 {
    font-size: calc(3vw + 1.5rem);
}

.welcome-container .btn-welcome {
    width: 170px;    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.welcome-image-footer {
    width: 100%;
    height: calc(40vh - 71px);
    position: fixed;
    bottom: 0%;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,.9)), url('/assets/images/books-1.jpg');
    background-size: contain;
}

.gradient-bg::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    z-index: 1;
}

.card-book {    
    aspect-ratio: 1/1.5;
}

.bookcase-form .bookcase-input-container {
    width: 100%;
}

/* Menores que sm */
@media (max-width: 575.98px) {
    
}

/* Sm ou maior */
@media (min-width: 576px) {
    
}

/* Md ou maior */
@media (min-width: 768px) {
    .bookcase-form .bookcase-input-container {
        width: calc(50% - (.25rem / 2));
    }    
}

/* Lg ou maior */
@media (min-width: 992px) {
    
}

/* Xl ou maior */
@media (min-width: 1200px) {
    
}